@model IEnumerable<Zestaw12.Models.Patients>
@{

}

<h1>Hello</h1>
<p>
    There
</p>
<h2>@ViewBag.Nazwisko</h2>
<ul>
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(modelItem => modelItem.FirstName)</th>
                <th>@Html.DisplayNameFor(modelItem => modelItem.LastName)</th>
            </tr>
        </thead>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.FirstName</td>
                <td>@d.LastName</td>
            </tr>

        }
    </table>
</ul>

